.dribbble {
	color: #ac2d5d;
}

.facebook {
	color: #4c66a4;
}

.github {
	color: #b9b9b9;
}

.google-plus {
	color: #dd4b39;
}

.linkedin {
	color: #0077b5;
}

.tumblr {
	color: #2c4762;
}

.twitter {
    color: #2fc2ef;
}